.plans__container {
  img {
    width: 100%;
    display: block;
  }
  .box {
    cursor: pointer;
    border: 1px solid #eee;
    .paln__details {
      padding: 30px 24px;
      .price {
        font-size: 18px;
        font-weight: 600;
        color: var(--mainColorGreen);
        margin-bottom: 5px;
      }
      .package__title,
      .title {
        font-family: "Merriweather", serif;
        font-size: 22px;
        color: #09100d;
        margin: 14px 0;
      }
      .rating,
      .duration {
        font-size: 14px;
        font-weight: 600;
        color: #5e5e5e;
        column-gap: 8px;
        margin-bottom: 20px;
        .icon {
          color: var(--mainColorGreen);
          font-size: 18px;
        }
      }
      .package__title {
        font-size: 20px;
        margin: 0;
        margin-bottom: 12px;
      }
      .package {
        margin-bottom: 30px;
        li {
          position: relative;
          font-size: 16px;
          color: #5e5e5e;
          margin-bottom: 8px;
          padding-left: 25px;
          &::after {
            content: "";
            position: absolute;
            left: 0;
            width: 12px;
            height: 2px;
            background-color: var(--mainColorGreen);
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }
    }
  }
}
