.custom_btn{
    background: #90b956;
    color: #fff;
    justify-content: center;
    white-space: nowrap;
    border: 2px solid #90b956;
    text-align: center;
    display: inline-block;
    transition: all 0.45s ease-in-out;
    text-transform: capitalize;
    width: 100%;
    overflow: hidden;
    &:after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        background: var(--white);
        height: 100%;
        transition: .5s;
        z-index: -1;
        transform: scale(.6);
        border-radius: 0;
        opacity: 0;
    }
    &:hover {
        color: #90b956;
    }
    &:hover:after {
        transform: scale(1);
        opacity: 1;
    }
    &.lg_btn
    {
        padding: 12px 25px;
        width: 100%;
        font-size: 1.2rem;
    }
}